* {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: #fbf1c7;
    color: #3c3836;
    border-bottom: 2px solid #d5c4a1;
}

#workspaces button {
    padding: 0 6px;
    font-size: 24px;
    color: #7c6f64;
    background-color: transparent;
}

#workspaces button.active {
    color: #af3a03;
}

#workspaces button:hover {
    background-color: #ebdbb2;
}

#window {
    color: #504945;
    padding: 0 10px;
}

#clock {
    padding: 0 10px;
    color: #3c3836;
}

#network,
#pulseaudio,
#power-profiles-daemon,
#battery,
#tray {
    padding: 0 10px;
    font-size: 24px;
    color: #3c3836;
}

#battery.warning {
    color: #b57614;
}

#battery.critical {
    color: #9d0006;
}

#pulseaudio.muted {
    color: #928374;
}
