* {
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: #fbf1c7;
    color: #3c3836;
    border-bottom: 2px solid #1d2021;
}

#workspaces button {
    padding: 0 2px;
    margin: 8px 2px;
    min-width: 16px;
    font-size: 11px;
    color: #3c3836;
    background-color: #ebdbb2;
    border-radius: 6px;
}

#workspaces button.empty {
    color: #a89984;
    background-color: #f2e5c1;
}

#workspaces button.active {
    color: #fbf1c7;
    background-color: #e91e8c;
}

#workspaces button:hover {
    background-color: #d5c4a1;
}

#clock {
    padding: 0 10px;
    color: #3c3836;
}

#custom-notification,
#network,
#bluetooth,
#pulseaudio,
#power-profiles-daemon,
#battery,
#tray {
    padding: 0 10px;
    font-size: 24px;
    color: #3c3836;
}

#cpu,
#memory,
#temperature,
#custom-fan,
#disk {
    padding: 0 8px;
    font-size: 13px;
    color: #3c3836;
}

#cpu.warning,
#memory.warning,
#disk.warning {
    color: #b57614;
}

#cpu.critical,
#memory.critical,
#disk.critical {
    color: #9d0006;
}

#temperature.critical {
    color: #9d0006;
}

#custom-fan.warm {
    color: #b57614;
}

#custom-fan.high,
#custom-fan.critical {
    color: #9d0006;
}

#bluetooth.disabled {
    color: #928374;
}

#custom-notification.dnd-notification,
#custom-notification.dnd-none {
    color: #928374;
}

#battery.warning {
    color: #b57614;
}

#battery.critical {
    color: #9d0006;
}

#pulseaudio.muted {
    color: #928374;
}
