* {
	background-image: none;
	box-shadow: none;
	font-family: "JetBrainsMono Nerd Font Mono";
}

window {
	background-color: #fbf1c7;
}

button {
    min-width: 160px;
    min-height: 160px;
    border: 3px solid #1d2021;
    border-radius: 4px;
    color: #3c3836;
    background-color: #ebdbb2;
    outline-style: none;
    margin: 12px;
    box-shadow: 5px 5px 0 0 #1d2021;
}

button label {
    font-size: 22px;
}

button:focus, button:active, button:hover {
    color: #fbf1c7;
    background-color: #e91e8c;
}
